body{
    background-color: #bfc29c;
}
a:link{
    color: #6858c5;pointer-events:painted;
}
a:hover{
    color: #3a23c1;
}
a:active{
    color: #d160d3;
}
a:visited{
    color:#3d7777; font-style: oblique;
}

