body{background-color: #bfc29c;}
h1{font-family: Arial, Helvetica, sans-serif; color: #601c05;}
h2{font-family: Arial, Helvetica, sans-serif; color:#601c05;}
p{color: #601c05;}
a{color: #6858c5;pointer-events:painted;}
a:hover{color: #3a23c1;}
